/* semantic color variables for this project */
:root {
  --theme: #3579F6;
  --theme-bg: #3579f610;
  --bg: #f6f6f6;
  --card: rgba(255, 255, 255, 0.1);
  --line: rgba(255, 255, 255, 0.3);

  --border: #e3e3e3;

  --title: #1d2129;
  --sutitle: #4e5969;
  --date: #86909c;
  --hint: #989697;

  --color: #F53F3F;
  --color2: #E03D1B;
  --color3: #0BA571;
  --color4: #DBAC06;
  --color5: #3579F6;

  --lg: linear-gradient(90deg, #0BA571 0%, #DBAC06 50%, #E52E2E 100%);

  --header-bg: #ffffff;
  --header-height: 50px;
}
