/* semantic color variables for this project */
:root {
  --theme: #3579F6;
  --theme-bg: #3579f610;
  --bg: #f5f6f3;
  --card: rgba(255, 255, 255, 0.1);
  --line: rgba(255, 255, 255, 0.3);

  --border: #e0e0e0;

  --title: #232323;
  --sutitle: #454647;
  --date-text: #989697;
  --hint-text: #989697;

  --status: #ff9900;
  --status2: #E55C5C;
  --status3: #2EE56B;
  --status4: #9900ff;
  --status5: #3579F6;

  --lg: linear-gradient(90deg, #2EE56B 0%, #E5C72E 50%, #E52E2E 100%);

  --header-color: #3579F6;
  --header-height: 56px;
  --toolbar-height: 56px;

  --menu-width: 239px;
}
/* 
prefers-scheme支持三个值 :
  -no-preference：无指定
  -light：亮色
  -dark：暗色
// JS查询是系统是否为暗色
matchMedia('(prefers-color-scheme: dark)').matches
*/
/* @media (prefers-scheme: dark) {
  :root {
    --background: var(--g-black);
    --background-soft: var(--g-black-soft);
    --background-mute: var(--g-black-mute);

    --border: var(--g-divider-dark-2);
    --border-hover: var(--g-divider-dark-1);

    --heading: var(--g-text-dark-1);
    --text: var(--g-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
