/* semantic color variables for this project */
:root {
  --theme: #212326;
  --primary: #212326;
  --theme-bg: #0a0b0c;
  --bg: #18191B;
  --card: rgba(255, 255, 255, 0.1);
  --line: rgba(255, 255, 255, 0.3);

  --border: #e0e0e0;

  --title: #ffffff;
  --sutitle: #cccccc;
  --date-text: #989697;
  --hint-text: #989697;

  --status: #ff9900;
  --status1: #ff9900;
  --status2: #E55C5C;
  --status3: #2EE56B;
  --status4: #9900ff;
  --status5: #3579F6;

  --lg: linear-gradient(90deg, #2EE56B 0%, #E5C72E 50%, #E52E2E 100%);

  /* --header-color: #18191B; */
  --header-bg: #0a0b0c;
  --header-height: 67px;

  --menu-width: 239px;
}
/* 
prefers-scheme支持三个值 :
  -no-preference：无指定
  -light：亮色
  -dark：暗色
// JS查询是系统是否为暗色
matchMedia('(prefers-color-scheme: dark)').matches
*/
/* @media (prefers-scheme: dark) {
  :root {
    --background: var(--g-black);
    --background-soft: var(--g-black-soft);
    --background-mute: var(--g-black-mute);

    --border: var(--g-divider-dark-2);
    --border-hover: var(--g-divider-dark-1);

    --heading: var(--g-text-dark-1);
    --text: var(--g-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px; /* 垂直滚动条宽度 */
  height: 0px; /* 水平滚动条高度 */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);  /* 轨道颜色 */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);  /* 滚动条颜色 */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);   /* hover 颜色 */
}